<% if @thoughts.any? %>
  <hr>
  <ul class="medium-block-grid-3 small-block-grid-1 thoughts">
    <% @thoughts.each do |thought| %>
      <li>
        <%= thought.image? ? image_tag(thought.image.url) : "" %>
        <div class="panel clearfix">
          <h4><%= thought.title %></h4>
          <p><%= truncate(thought.body, :length => 100, :separator => ' ') %></p>
          <time class="thought-published"><%= time_ago_in_words(thought.published) %> ago</time>
          <%= link_to("Read more", thought, class: 'right') %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>