<%= form_for(@thought, :html => {:multipart => true}) do |f| %>
<div class="row">
  <div class="small-12 medium-8 columns">
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_area :body, placeholder: 'Explain your thoughts', :rows => '10' %>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="row">
      <div class="small-6 columns">
        <% if @thought.trash == false %>
          <%= f.submit class: "button secondary tiny" %>
        <% end %>
      </div>
      <div class="small-6 columns">
        <% if @thought.trash == false %>
          <%= publish_button(@thought) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <% if @thought.id? && @thought.trash == false %>
          <%= @thought.id? ? link_to("Move to trash", trash_thought_path(@thought), method: :patch, data: { :confirm => "Are you sure?" }, class: 'trash-thought') : "" %>
        <% end %>
      </div>
      <div class="small-6 columns">
        <% if @thought.id? && @thought.trash == false %>
          <%= preview_button(@thought) %>
        <% else %>
          <%= @thought.id? ? link_to("Restore", restore_thought_path(@thought), method: :patch, data: { :confirm => "Restore thought from trash?" }, class: 'button success tiny right') : "" %>
        <% end %>
      </div>
    </div>
    <%= f.label :published, 'Featured image' %>
    <div class="panel">
      <%= @thought.image? ? image_tag(@thought.image.url(:medium)) : "" %>
      <a href="#" class="upload-image-button button expand tiny"><%= @thought.image? ? "Replace image" : "Add image" %></a>
      <%= f.file_field :image, class: "upload-image-field" %>
      <%= f.text_field :image_attribution, placeholder: "Image attribution" %>
    </div>
  </div>
</div>
<% end %>