<%= form_for(@thought) do |f| %>
<div class="row">
  <div class="small-8 columns">
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_area :body, placeholder: 'Explain your thoughts', :rows => '10' %>
  </div>
  <div class="small-4 columns">
    <%= f.submit class: "button success expand tiny right" %>
    <%= publish_button(@thought) %>
    <%= f.label :published, 'Featured image' %>
    <div class="panel">
      <%= @thought.image? ? image_tag(@thought.image.url(:medium)) : "" %>
      <a href="#" class="upload-image-button button expand tiny"><%= @thought.image? ? "Replace image" : "Add image" %></a>
      <%= f.file_field :image, class: "upload-image-field" %>
      <%= f.text_field :image_attribution, placeholder: "Image source" %>
    </div>
  </div>
</div>
<% end %>