<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <hr>
    <article class="h-entry">
      <header>
        <h1 class="p-name"><%= @thought.title%></h1>
        <% if @thought.summary? %>
          <p class="entry-summary"><%= @thought.summary %></p>
        <% end %>
        <p class="byline">Added by <span class="p-author h-card">Roy McKenzie</span> <time class="dt-published" datetime="<%= @thought.published %>" title="<%= pretty_publish_date_time(@thought.published) %>"><%= @thought.published? ? time_ago_in_words(@thought.published) + " ago" : "not yet publised" %> </time></p>
        <% if @thought.image %>
          <figure class="entry-image u-featured">
            <%= @thought.image? ? image_tag(@thought.image.url(:large)) : "" %>
            <figcaption class="right"><%= @thought.image_attribution %></figcaption>
          </figure>
        <% end %>
      </header>
      <div class="e-content">
        <%= simple_format(@thought.body, {}, sanitize: false) %>
      </div>
    </article>
  </div>
  <% if user_signed_in? %>
  <div class="small-12 medium-2 columns">
    <hr>
    <%= @thought.id? ? link_to("Edit thought", edit_thought_path(@thought), class: "button expand small") : "" %>
  </div>
  <% end %>
</div>