<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Roy McKenzie" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"><h1><%= link_to("Roy McKenzie", root_path) %></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="social"><a href="https://github.com/roymckenzie" title="Github" target="_blank"><i class="fi-social-github"></i></a></li>
          <li class="divider"></li>
          <li class="social"><a href="https://twitter.com/roymckenzie" title="Twitter" target="_blank"><i class="fi-social-twitter"></i></a></li>
          <li class="divider"></li>
          <li class="social"><a href="https://instagram.com/roymckenzie" title="Instagram" target="_blank"><i class="fi-social-instagram"></i></a></li>
          <% if user_signed_in? %>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Menu</a>
            <ul class="dropdown">
              <li><%= link_to("Home", root_path) %></li>
              <li class="divider"></li>
              <li><label>Thoughts</label></li>
              <li><%= link_to("All thoughts", thoughts_path) %></li>
              <li><%= link_to("New thought", new_thought_path) %></li>
              <li class="divider"></li>
              <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
          <li class="divider"></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <% flash.each do |name, msg| %>
        <div data-alert class="alert-box <%= name%>">
          <%= msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>

  </body>
</html>
