<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Roy McKenzie" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="row">
    <div class="small-12 columns">
      <% flash.each do |name, msg| %>
        <div data-alert class="alert-box <%= name%>">
          <%= msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <%= user_signed_in? ? link_to("Sign out", destroy_user_session_path, method: :delete, class: "right") : "" %>
      <%= yield %>
    </div>
  </div>

  </body>
</html>
